@model IEnumerable<AutoDoc.Models.Student>

<table>
    @foreach (var item in Model.OrderBy(x => x.LastName + x.FirstName + x.MiddleName))
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.LastName) @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.MiddleName)
            </td>

            <td>
                @if (WebSecurity.IsAuthenticated && (User.IsInRole("Учебная часть") || User.IsInRole("Администратор")))
                {
                    <text>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })    </text>        
                }
            </td>
        </tr>       
    }
</table>
