@model AutoDoc.Models.User

@{
    ViewBag.Title = "Смена пароля";
}

<h2> @ViewBag.Title </h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> @ViewBag.Title </legend>

        @Html.HiddenFor(model=>model.UserId)
       
        <div class="editor-label">
            @Html.Label("Пользователь")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) (@Html.DisplayFor(model => model.UserLogin))
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Сменить пароль" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
