<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>AutoDoc. @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">AutoDoc</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Action("LoginPartial", "Layout")
                    </section>

                    @if (WebSecurity.IsAuthenticated)
                    { 
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Управление", "List", "Group")</li>
                            <li>@Html.ActionLink("Инструкции", "About", "Home")</li>
                            @if (User.IsInRole("Администратор"))
                            { 
                                <li>@Html.ActionLink("Пользователи", "List", "User")</li>
                            }
                        </ul>
                    </nav>                    
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p> @DateTime.Now.Year — ИВЦ ОТИ НИЯУ МИФИ</p>
                </div>
                <div class="float-right">
                    <p>@Html.ActionLink("О программе", "About", "Home") | @Html.ActionLink("Обратная связь", "Contact", "Home")</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
